@mixin df {
  display: flex;
  flex-wrap: wrap;
}

@mixin bg {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@mixin fb($w) {
  flex-basis: $w;
  width: $w;
  max-width: $w;
}

//colors
$color: #FFC000;
$lcolor: #ffc00063;
$grey: #4b4b4b;

@media (min-width:768px) {
  $i: 1;

  @while($i<=12) {
    .col-md-#{$i} {
      @include fb(percentage($i/12));
      padding: 0px 10px;
    }

    $i: $i+1;
  }
}

@media (min-width:992px) {
  $i: 1;

  @while($i<=12) {
    .col-lg-#{$i} {
      @include fb(percentage($i/12));
      padding: 0px 10px;
    }

    $i: $i+1;
  }
}

@media (max-width:767px) {
  $i: 1;

  @while($i<=12) {
    .col-sm-#{$i} {
      @include fb(percentage($i/12));
      padding: 0px 10px;
    }

    $i: $i+1;
  }
}

